<!doctype html>
<html lang="jp">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Namche online</title>
    <link rel="icon" href="{{constant('namche\\Bootstrap::APP_URL')}}assets/images/fav.png">
    <link rel="stylesheet" href="{{constant('namche\\Bootstrap::APP_URL')}}assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{constant('namche\\Bootstrap::APP_URL')}}assets/fonts/bootstrap-icons.css">
    <link rel="stylesheet" href="{{constant('namche\\Bootstrap::APP_URL')}}assets/sass/main.css">
    <link rel="stylesheet" href="{{constant('namche\\Bootstrap::APP_URL')}}assets/mycss/cartstyle.css">
  </head>
  <body>
    <!-- Header -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand" href="list.php">
            <img src="{{constant('namche\\Bootstrap::APP_URL')}}assets/images/namche-logo.png" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item ">
                <a class="nav-link   " aria-current="page" href="list.php">Home <i class="bi bi-chevron-right "></i>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link " href="#"> Detail <i class="bi bi-chevron-right "></i>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link active" href="#">Cart</a>
              </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 action-menu">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="bi bi-heart"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="bi bi-cart4 position-relative">
                    <span style="font-size: 12px" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"></span>
                  </i>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-person">
                    <span> {{username}} </span>
                  </i>
                </a>
                <ul class="dropdown-menu border-0 shadow-lg" aria-labelledby="navbarDropdown"> {% if userIsLoggedIn %} <li>
                    <a class="dropdown-item" href="./login.php?logout=1">logout</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Setting</a>
                  </li> {% else %} <li>
                    <a class="dropdown-item" href="./login.php">login</a>
                  </li> {% endif %}
                </ul>
              </li>

               {# this is for language #}
              <li class="nav-item dropdown">
                                Language
              <div class="translate-container">
            <div id="google_translate_element"></div>
            <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
            <script type="text/javascript">
                function googleTranslateElementInit() {
                    new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
                }
            </script>
        </div>
    </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center border rounded bg-light my-5">
            <h1>My Cart</h1>
          </div>
          <div class="col-lg-8">
            <table class="table table-light table-hover">
              <thead class="text-center">
                <tr>
                  <th>Image</th>
                  <th>Item Name</th>
                  <th>Item Price</th>
                  <th>Quantity</th>
                  <th>Sum Price</th>
                  <th></th>
                </tr>
              </thead> {% for value in dataArr %} <tbody class="text-center align-middle">
                <tr>
                  <td width=100 height=100 border=1>
                    <img src="{{ constant
                            ('namche\\Bootstrap::ENTRY_URL')}}images/{{value.image}}" class="h-100 d-inline-block">
                  </td>
                  <td>{{ value.item_name }}</td>
                  <td>{{ value.price }}</td>
                  <td>
                    <input class="text-center" type="number" onchange="qtyChange({{value.crt_id}}, this.value)" value="{{value.quantity}}" min="1" max="10">
                  </td>
                  <td>&yen;{{ (value.price*value.quantity)|number_format(0, '.', ',')}}</td>
                  <td>
                    <a href="{{constant('namche\\Bootstrap::ENTRY_URL')}}cart.php?crt_id={{value.crt_id}}" type="button" class="btn btn-outline-danger">Remove Item</a>
                  </td>
                </tr>
              </tbody> {% endfor %} <tr>
                <td colspan=5></td>
                <td align=right>{{ sumPrice|number_format(0, '.', ',') }}</td>
                <td></td>
              </tr>
            </table> {% if dataArr|length == 0 %} <p class="empty text-center">There is no item in cart</p> {% endif %}
          </div>
          <div class="col-lg-4">
            <div class="border bg-light rounded p-4 " <h2 class="my-5">Cart Total Items : {{sumNum}}</h2>
              <h5 class="my-5">Total :&yen;{{sumPrice|number_format(0, '.', ',')}}
                <h5>
                  <form action="{% if userIsLoggedIn %}{{ constant('namche\\Bootstrap::ENTRY_URL') }}purchase.php{% else %}{{ constant('namche\\Bootstrap::ENTRY_URL') }}regist.php{% endif %}" method="post">
                    <input type="hidden" name="item_id" value="{{value.item_id}}">
                    <input type="hidden" name="total_price" value="{{sumPrice}}">
                    <button type="submit" class="btn btn-success btn-block" name="makePurchase">Make Purchase</button>
                  </form>
            </div>
          </div>
        </div>
      </div>
      <section>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{{constant('namche\\Bootstrap::APP_URL')}}assets/js/bootstrap.bundle.js"></script>
  <script>
    {# using java script for make purchase #}
    $("form").submit(function() {
      var entry_url = $("#entry_url").val();
      $("#makePurchase").click(function() {
        var item_id = $("#item_id").val();
        location.href = entry_url + "purchase.php?item_id=" + item_id;
      });
    }); 
    
    {# using js for change the quentity #}
    
    function qtyChange(crt_id, qty) {
      $(document).ready(function() {
        $.get('./cart.php?qtyChange=1&crt_id=' + crt_id + '&qty=' + qty, function(data) {
          if (data) {
            location.reload();
          } else {
            alert('Error');
          }
        })
      });
    }
  </script>
</html>